<h2>{{ header1 }}</h2>

<!--numeric binding-->
<p>Given the numbers 90 and 50, Compute for the ff:</p>
<p>Sum of {{n1}} and {{n2}} is {{ n1 + n2 }}.</p>
<p>Difference of {{n1}} and {{n2}} is {{ n1 - n2 }}.</p>
<p>Quotient of {{n1}} and {{n2}} is {{ n1 / n2 }}.</p>
<p>Product of {{n1}} and {{n2}} is {{ n1 * n2 }}.</p>

<!--property binding-->
<input type="text" [value]="clientName">

<!--style binding-->
<p [style.color]="myColor">Text color is styled using style binding.</p>
<p [class]= "appliedCSSClass">This line applied the style binding.</p>
<p [class.blue]= "notappliedCSS">While this line does not.</p>

<h3>Two way data binding</h3>

<button (click)= "showData($event)">Click here!</button><br>
<button on-click= "showData($event)">Tap here!</button>

<p>Using keyup, down, blur, mouse actions</p>

<input type="text" #keyupbox placeholder="keyup box" (keyup)=getData(keyupbox.value)><br>
<input type="text" #keydownbox placeholder="keydown box" (keydown)=getData(keydownbox.value)><br>
<input type="text" #keyblurbox placeholder="blur box" (blur)=getData(keyblurbox.value)><br>
<input type="text" #keyinputbox placeholder="input box" (input)=getData(keyinputbox.value)>

<h2 (mouseover)="getData('mouse over')">Hover mouse on this text</h2><br>
<h2 (mouseleave)="getData('mouse left')">Hover mouse on this text and leave it.</h2>