img {
    border-radius: 50%;
    display: block;
    border: 5px solid #645f5b;
    margin-left: auto;
    margin-right: auto;
}
.content{
    width: auto;
    margin-top: .1in;
    text-align: center;
    height: fit-content;
    padding-top: .25in;
    padding-bottom: .25in;
}
.content > p.info {
    font-size: 14pt;
    font-family: Poppins Light;
}

.title{
    font-size: 50pt;
    margin-left: 1in;
}

.details{
    padding-top: .5in;
    float: left;
    width: 40%;
    background-color: #e4e1d8;
}

.body {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: .5in;
}

.description{
    padding-top: 1.5in;
    float: right;
    width: 60%;
    padding-left: 1in;
    
}

.description > h1 {
    font-size: 70pt;
    padding-bottom: .3in;
}

.description > p {
    font-family: Poppins Light;
    font-size: 14pt;
}

.name {
    font-weight: bold;
    font-size: 20pt;
    font-family: Poppins;
}

.pos {
    font-weight: bold;
    font-size: 17pt;
    font-family: Poppins Light;
    margin-bottom: .5in;
}