<h1 class="title">ABOUT ME</h1>
<div class="body">
    <div class="details">
        <img src="assets\me.jpg" style="width: 2in;">
        <div class="content">
            <p class="name">Pauline Ann Reyes</p>
            <p class="pos">Web Developer</p>
            <p class="info"><b>Age:</b> 21 years old</p>
            <p class="info"><b>Nationality:</b> Filipino</p>
            <p class="info"><b>Sex:</b> Female</p>
            <p class="info"><b>Civil Status:</b> Single</p>
        </div>
    </div>

    <div class="description">
        <h1>Hello.</h1>
        <p>I'm Pauline, an up and coming Web Developer. I've had experiences in developing websites in my college years. 
            <br> <br>
            I've also been dipping into the field of Digital Layout, creating logos and lay outing brochures for small companies.</p>
    </div>
</div>
