<h1 class = "title">Here are some of my works:</h1>
<div class="body">
  <div class="card1" style="width: 18rem;">
    <img src="../assets/artisanos.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Artisanos Coffee Website</h5>
      <p class="card-text">This website was created for Artisanos Coffee, a small business based on Bacolor, Pampanga.</p>
      <a href="artisanoscoffee.com" class="btn btn-primary">Go to Artisanos Coffee</a>
    </div>
  </div>

  <div class="card2" style="width: 18rem;">
    <img src="../assets/vector-majo.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Vector Art - Majo</h5>
      <p class="card-text">This vector art was done as a personal project as a present for a close friend.</p>
    </div>
  </div>

  <div class="card3" style="width: 18rem;">
    <img src="../assets/vector-cams.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Vector Art - Cams</h5>
      <p class="card-text">This vector art was done as a personal project as a present for a close friend.</p>
    </div>
  </div>
</div>
  